Checks: >
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  performance-*,

  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-security.insecureAPI.memcpy,
  -clang-analyzer-security.insecureAPI.strcat

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case

